<h1>Fulfillment#index</h1>
<div class="container d-grid gap-2">
  <div class="p-2 bg-light border">
    <table class="table table-bordered">
      <thead>
        <tr class="text-center">
          <th>Title</th>
          <th>ID</th>
          <th>Seller ID</th>
          <th>Stock</th>
          <th>Logistic</th>
          <th>Link to Full</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr class="text-center ">
            <td class="align-middle"><%= item.title %></td>
            <td class="align-middle"><%= item.ml_item_id %></td>
            <td class="align-middle"><%= item.seller.id %></td>
            <td class="align-middle"><%= item.available_quantity%></td>
            <td class="align-middle"><%= item.logistic_type%></td>
            <td>
              <%= link_to "Link Full", "https://www.mercadolivre.com.br/anuncios/lista/fulfillment?page=1&search=#{item.ml_item_id}" , method: :get, class:"btn btn-danger btn-sm align-middle" %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
